{% load static %}
{% for product in products %}
    <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
        <div class="card text-center">
            <img class="card-img-top product_image" src="{{ product.image.url }}" alt="Product Image">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-center">
                    <div class="d-flex flex-column">
                    <h5>{{ product.name }}</h5>
                    <p>${{ product.price }}</p>
                    <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Details</a>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


