{% extends 'blog/shared/base.html' %}
{% load static %}
{% block title %}
    Our Blog
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <h1>Our blog posts</h1>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">Published {{ post.publish }}</p>
        {{ post.body|truncatewords:30 }}
    {% empty %}
        <h2>There are no published posts yet.</h2>
    {% endfor %}
    {% include 'blog/partials/pagination.html' with page=page_obj %}
{% endblock %}
