{% extends 'shop/shared/base.html' %}
{% load static %}

{% block title %}
    Product List
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'shop/product_list.css' %}">
{% endblock %}

{% block content %}
    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
    <div class="container mt-3">
        <div class="row">
            {% include 'shop/partials/list.html' %}
        </div>
        {% if products.count > 8 %}
            {% include 'blog/partials/pagination.html' with page=page_obj %}
        {% endif %}
    </div>
    <div class="clear">{% include 'blog/partials/footer.html' %}</div>
{% endblock %}