{% extends 'shop/shared/base.html' %}
{% load static %}

{% block title %}
    {{ user.username }} products
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'shop/product_list.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ user }} here are all of your registered products</h1>
    <div class="container mt-3">
        <div class="row">
            {% include 'shop/partials/owned_list.html' with products=own_products %}
        </div>
        {% if own_products.count > 8 %}
            {% include 'blog/partials/pagination.html' with page=page_obj %}
        {% endif %}
    </div>
    <div class="clear">{% include 'blog/partials/footer.html' %}</div>
{% endblock %}