{% extends 'users/shared/base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block styles %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'users/profile_detail.css' %}">
{% endblock %}

{% block content %}
    <br>
    {% include 'users/partials/profile_details.html' %}
{% endblock %}
