{% extends 'users/shared/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Sign Up Page
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/fix_signup_form.css' %}">
{% endblock %}

{% block content %}
    <h1 class="text-center">Sign Up Form</h1>
    <div class="row d-flex justify-content-center">
        <form class="form" method="post" action="{% url 'accounts:signup user' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary">Sign Up</button>
        </form>
    </div>
{% endblock %}

